.App {
  margin: 0;
  padding: 0;
}
li,
ul,
p {
  margin: 0;
  color: #333333;
}

/* @font-face {
  font-family: "RNHouseSans";
  src: url("/onts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
} */
